
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Agriculture</title>
    <link rel="stylesheet" type="text/css" href="{% static '/agriculture/login.css' %}">
</head>
<body>
    <div class="loginbox">
        
        <h1>Login Here</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <p>Username</p>
            <input type="text" name="usr" placeholder="Enter Username or email address">
            <p>Password</p>
            <input type="password" name="pass1" placeholder="Enter Password">
            <input type="submit" name="" value="Log in"><br>
            <a href="#">SIGN UP</a>
        </form>
    </div>
    {% if messages %}
        <script>
            {% for message in messages %}
                alert("{{ message }}");
            {% endfor %}
        </script>
    {% endif %}
</body>
</html>