{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Credits For | Agriculture</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static '/agriculture/profile_style.css' %}">
</head>
<body>
    <h2 style="text-align:center" id="credit-text">Credits</h2>

<div class="card">
  <img src="{% static '/agriculture/profile/Bidur.jpg' %}" alt="Bidur" style="width:100%">
  <h1>Bidur Bibhab Sahoo</h1>
  <p class="title">Home Page , Back-End Linking</p>
  <p>Silicon Institute of Technology</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fab fa-linkedin"></i></a>  
    <a href="#"><i class="fa fab fa-instagram"></i></a>  
    <a href="#"><i class="fa fab fa-facebook"></i></a> 
  </div>
  <p><a href="mailto:bibhabsahoobidur@gmail.com" class="email-send">Contact</a></p>
</div>
<div class="card">
  <img src="{% static '/agriculture/profile/Debashis.jpg' %}" alt="Debashis" style="width:100%">
  <h1>Debashis Tripathy</h1>
  <p class="title">Home Page , Back-End Linking</p>
  <p>Silicon Institute of Technology</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fab fa-linkedin"></i></a>  
    <a href="#"><i class="fa fab fa-instagram"></i></a>  
    <a href="#"><i class="fa fab fa-facebook"></i></a> 
  </div>
  <p><a href="mailto:" class="email-send">Contact</a></p>
</div>
<div class="card">
  <img src="{% static '/agriculture/profile/Shaheel.jpeg' %}" alt="Shaheel" style="width:100%">
  <h1>Shaheel Saha</h1>
  <p class="title">Home Page , Back-End Linking</p>
  <p>Silicon Institute of Technology</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fab fa-linkedin"></i></a>  
    <a href="#"><i class="fa fab fa-instagram"></i></a>  
    <a href="#"><i class="fa fab fa-facebook"></i></a> 
  </div>
  <p><a href="mailto:" class="email-send">Contact</a></p>
</div>
<div class="card">
  <img src="{% static '/agriculture/profile/JAYAPRAKASH.jpeg' %}" alt="Jayaprakash" style="width:100%">
  <h1>Jayaprakash Behera</h1>
  <p class="title">Home Page , Back-End Linking</p>
  <p>Silicon Institute of Technology</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fab fa-linkedin"></i></a>  
    <a href="#"><i class="fa fab fa-instagram"></i></a>  
    <a href="#"><i class="fa fab fa-facebook"></i></a> 
  </div>
  <p><a href="mailto:" class="email-send">Contact</a></p>
</div>
<div class="card">
  <img src="{% static '/agriculture/profile/Pratyush .jpg' %}" alt="Pratyush" style="width:100%">
  <h1>Pratyush Ranjan Pani</h1>
  <p class="title">Home Page , Back-End Linking</p>
  <p>Silicon Institute of Technology</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fab fa-linkedin"></i></a>  
    <a href="#"><i class="fa fab fa-instagram"></i></a>  
    <a href="#"><i class="fa fab fa-facebook"></i></a> 
  </div>
  <p><a href="mailto:" class="email-send">Contact</a></p>
</div>
<div class="card">
  <img src="{% static '/agriculture/profile/Sagar.jpg' %}" alt="Pratyush" style="width:100%">
  <h1>Sagar Verma</h1>
  <p class="title">Home Page , Back-End Linking</p>
  <p>Silicon Institute of Technology</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fab fa-linkedin"></i></a>  
    <a href="#"><i class="fa fab fa-instagram"></i></a>  
    <a href="#"><i class="fa fab fa-facebook"></i></a> 
  </div>
  <p><a href="mailto:" class="email-send">Contact</a></p>
</div>
<!-- <div class="card">
  <img src="profile/JAYAPRAKASH.jpeg" alt="Bidur" style="width:100%">
  <h1>Jayaprakash Behera</h1>
  <p class="title">Home Page , Back-End Linking</p>
  <p>Silicon Institute of Technology</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fab fa-linkedin"></i></a>  
    <a href="#"><i class="fa fab fa-instagram"></i></a>  
    <a href="#"><i class="fa fab fa-facebook"></i></a> 
  </div>
  <p><a href="mailto:bibhabsahoobidur@gmail.com" class="email-send">Contact</a></p> -->
    <button id="button"><a href="{% url 'home' %}">Home</a></button>
</body>
</html>
